In [1]:
# Citation: Lawrence H. Officer, 'Exchange Rates Between the United States Dollar and Forty-one Currencies,' MeasuringWorth, 2025. 	Citation: Lawrence H. Officer, 'Exchange Rates Between the United States Dollar and Forty-one Currencies,' MeasuringWorth, 2025. 
# The table(s) present the price of one United States Dollar.

In [2]:
import pandas as pd
import os

In [3]:
file_path = os.path.join('..', 'data', 'exchange_data.csv')

exchange_df = pd.read_csv(file_path)
exchange_df

                     country    year            currency
0     Argentina, 1600 - 2025  1916.0   0.9666 Gold Pesos
1     Argentina, 1600 - 2025  1917.0   0.9986 Gold Pesos
2     Argentina, 1600 - 2025  1918.0   0.9985 Gold Pesos
3     Argentina, 1600 - 2025  1919.0   1.0099 Gold Pesos
4     Argentina, 1600 - 2025  1920.0   1.1025 Gold Pesos
...                      ...     ...                 ...
3487  Venezuela, 1600 - 2025  2020.0   309968.00 Bolivar
3488  Venezuela, 1600 - 2025  2021.0  3220480.00 Bolivar
3489  Venezuela, 1600 - 2025  2022.0        6.64 Bolivar
3490  Venezuela, 1600 - 2025  2023.0       28.62 Bolivar
3491  Venezuela, 1600 - 2025  2024.0       38.33 Bolivar

[3492 rows x 3 columns]

In [4]:
exchange_df[['exchange_rate','currency_name']] = exchange_df['currency'].str.split(' ',n=1, expand=True)
exchange_df.drop('currency', axis = 1, inplace = True)

In [5]:
exchange_df

                     country    year exchange_rate currency_name
0     Argentina, 1600 - 2025  1916.0        0.9666    Gold Pesos
1     Argentina, 1600 - 2025  1917.0        0.9986    Gold Pesos
2     Argentina, 1600 - 2025  1918.0        0.9985    Gold Pesos
3     Argentina, 1600 - 2025  1919.0        1.0099    Gold Pesos
4     Argentina, 1600 - 2025  1920.0        1.1025    Gold Pesos
...                      ...     ...           ...           ...
3487  Venezuela, 1600 - 2025  2020.0     309968.00       Bolivar
3488  Venezuela, 1600 - 2025  2021.0    3220480.00       Bolivar
3489  Venezuela, 1600 - 2025  2022.0          6.64       Bolivar
3490  Venezuela, 1600 - 2025  2023.0         28.62       Bolivar
3491  Venezuela, 1600 - 2025  2024.0         38.33       Bolivar

[3492 rows x 4 columns]

In [6]:
exchange_df['country'] = exchange_df['country'].str.split(',',n=1, expand=True)[0]
exchange_df

        country    year exchange_rate currency_name
0     Argentina  1916.0        0.9666    Gold Pesos
1     Argentina  1917.0        0.9986    Gold Pesos
2     Argentina  1918.0        0.9985    Gold Pesos
3     Argentina  1919.0        1.0099    Gold Pesos
4     Argentina  1920.0        1.1025    Gold Pesos
...         ...     ...           ...           ...
3487  Venezuela  2020.0     309968.00       Bolivar
3488  Venezuela  2021.0    3220480.00       Bolivar
3489  Venezuela  2022.0          6.64       Bolivar
3490  Venezuela  2023.0         28.62       Bolivar
3491  Venezuela  2024.0         38.33       Bolivar

[3492 rows x 4 columns]

In [7]:
exchange_df = exchange_df.dropna()

In [8]:
exchange_df['year'] = exchange_df['year'].astype(int)

C:\Users\vkali\AppData\Local\Temp\ipykernel_29164\1247493054.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  exchange_df['year'] = exchange_df['year'].astype(int)

In [9]:
exchange_df

        country  year exchange_rate currency_name
0     Argentina  1916        0.9666    Gold Pesos
1     Argentina  1917        0.9986    Gold Pesos
2     Argentina  1918        0.9985    Gold Pesos
3     Argentina  1919        1.0099    Gold Pesos
4     Argentina  1920        1.1025    Gold Pesos
...         ...   ...           ...           ...
3487  Venezuela  2020     309968.00       Bolivar
3488  Venezuela  2021    3220480.00       Bolivar
3489  Venezuela  2022          6.64       Bolivar
3490  Venezuela  2023         28.62       Bolivar
3491  Venezuela  2024         38.33       Bolivar

[3452 rows x 4 columns]

In [ ]:
file_path_new = os.path.join('..', 'data', 'clean_exchange_data.csv')
exchange_df.to_csv(file_path_new)

In [4]:
new_data = pd.read_csv(os.path.join('..', 'data', 'clean_exchange_data.csv'))
new_data

      Unnamed: 0    country  year  exchange_rate currency_name
0              0  Argentina  1916   9.666000e-01    Gold Pesos
1              1  Argentina  1917   9.986000e-01    Gold Pesos
2              2  Argentina  1918   9.985000e-01    Gold Pesos
3              3  Argentina  1919   1.009900e+00    Gold Pesos
4              4  Argentina  1920   1.102500e+00    Gold Pesos
...          ...        ...   ...            ...           ...
3447        3447  Venezuela  2020   3.099680e+05       Bolivar
3448        3448  Venezuela  2021   3.220480e+06       Bolivar
3449        3449  Venezuela  2022   6.640000e+00       Bolivar
3450        3450  Venezuela  2023   2.862000e+01       Bolivar
3451        3451  Venezuela  2024   3.833000e+01       Bolivar

[3452 rows x 5 columns]

In [15]:
new_data = new_data.drop(columns={'Unnamed: 0'})
new_data

KeyError: "['Unnamed: 0'] not found in axis"

In [7]:
type(new_data["year"][0])

numpy.int64

In [16]:
new_data.to_csv(os.path.join('..', 'data', 'clean_exchange_data.csv'))

In [17]:
new_data

        country  year  exchange_rate currency_name
0     Argentina  1916   9.666000e-01    Gold Pesos
1     Argentina  1917   9.986000e-01    Gold Pesos
2     Argentina  1918   9.985000e-01    Gold Pesos
3     Argentina  1919   1.009900e+00    Gold Pesos
4     Argentina  1920   1.102500e+00    Gold Pesos
...         ...   ...            ...           ...
3447  Venezuela  2020   3.099680e+05       Bolivar
3448  Venezuela  2021   3.220480e+06       Bolivar
3449  Venezuela  2022   6.640000e+00       Bolivar
3450  Venezuela  2023   2.862000e+01       Bolivar
3451  Venezuela  2024   3.833000e+01       Bolivar

[3452 rows x 4 columns]

In [19]:
new_data.to_csv(os.path.join('..', 'data', 'clean_exchange_data.csv'), index = False)

In [20]:
read = pd.read_csv(os.path.join('..', 'data', 'clean_exchange_data.csv'))

In [21]:
read.head()

     country  year  exchange_rate currency_name
0  Argentina  1916         0.9666    Gold Pesos
1  Argentina  1917         0.9986    Gold Pesos
2  Argentina  1918         0.9985    Gold Pesos
3  Argentina  1919         1.0099    Gold Pesos
4  Argentina  1920         1.1025    Gold Pesos

In [22]:
import pandas as pd
import os

In [23]:
file_path = os.path.join('..', 'data', 'clean_exchange_data.csv')

exchange_df = pd.read_csv(file_path)
exchange_df

        country  year  exchange_rate currency_name
0     Argentina  1916   9.666000e-01    Gold Pesos
1     Argentina  1917   9.986000e-01    Gold Pesos
2     Argentina  1918   9.985000e-01    Gold Pesos
3     Argentina  1919   1.009900e+00    Gold Pesos
4     Argentina  1920   1.102500e+00    Gold Pesos
...         ...   ...            ...           ...
3447  Venezuela  2020   3.099680e+05       Bolívar
3448  Venezuela  2021   3.220480e+06       Bolívar
3449  Venezuela  2022   6.640000e+00       Bolívar
3450  Venezuela  2023   2.862000e+01       Bolívar
3451  Venezuela  2024   3.833000e+01       Bolívar

[3452 rows x 4 columns]

In [24]:
exchange_df = exchange_df.apply(lambda x: x.str.strip() if x.dtype == "object" else x)

In [ ]:
exchange_df.to_csv(os.path.join('..', 'data', 'cleaned_exchange_data.csv'), index = False)

In [42]:
print(exchange_df.loc[exchange_df['country'] == 'Denmark', 'currency_name'].unique())

['krone' 'Krone']

In [43]:
exchange_df.loc[exchange_df['country'] == 'Denmark', 'currency_name'] = \
    exchange_df.loc[exchange_df['country'] == 'Denmark', 'currency_name'].str.lower()

In [44]:
exchange_df.loc[exchange_df['country'] == 'Denmark', 'currency_name'] = \
    exchange_df.loc[exchange_df['country'] == 'Denmark', 'currency_name'].str.capitalize()

In [45]:
print(exchange_df.loc[exchange_df['country'] == 'Denmark', 'currency_name'].unique())

['Krone']

In [46]:
exchange_df.to_csv(os.path.join('..', 'data', 'clean_exchange_data.csv'), index = False)

In [48]:
print(exchange_df.loc[exchange_df['country'] == 'Norway', 'currency_name'].unique())

['Krone']

In [47]:
exchange_df.loc[exchange_df['country'] == 'Norway', 'currency_name'] = 'Krone'

In [49]:
exchange_df.to_csv(os.path.join('..', 'data', 'clean_exchange_data.csv'), index = False)