In [1]:
# Citation: Lawrence H. Officer, 'Exchange Rates Between the United States Dollar and Forty-one Currencies,' MeasuringWorth, 2025. 	Citation: Lawrence H. Officer, 'Exchange Rates Between the United States Dollar and Forty-one Currencies,' MeasuringWorth, 2025. 
# The table(s) present the price of one United States Dollar.

In [ ]:
import pandas as pd
import os

In [3]:
file_path = os.path.join('..', 'data', 'exchange_data.csv')

exchange_df = pd.read_csv(file_path)
exchange_df

                     country    year            currency
0     Argentina, 1600 - 2025  1916.0   0.9666 Gold Pesos
1     Argentina, 1600 - 2025  1917.0   0.9986 Gold Pesos
2     Argentina, 1600 - 2025  1918.0   0.9985 Gold Pesos
3     Argentina, 1600 - 2025  1919.0   1.0099 Gold Pesos
4     Argentina, 1600 - 2025  1920.0   1.1025 Gold Pesos
...                      ...     ...                 ...
3487  Venezuela, 1600 - 2025  2020.0   309968.00 Bolivar
3488  Venezuela, 1600 - 2025  2021.0  3220480.00 Bolivar
3489  Venezuela, 1600 - 2025  2022.0        6.64 Bolivar
3490  Venezuela, 1600 - 2025  2023.0       28.62 Bolivar
3491  Venezuela, 1600 - 2025  2024.0       38.33 Bolivar

[3492 rows x 3 columns]

In [4]:
exchange_df[['exchange_rate','currency_name']] = exchange_df['currency'].str.split(' ',n=1, expand=True)
exchange_df.drop('currency', axis = 1, inplace = True)

In [5]:
exchange_df

                     country    year exchange_rate currency_name
0     Argentina, 1600 - 2025  1916.0        0.9666    Gold Pesos
1     Argentina, 1600 - 2025  1917.0        0.9986    Gold Pesos
2     Argentina, 1600 - 2025  1918.0        0.9985    Gold Pesos
3     Argentina, 1600 - 2025  1919.0        1.0099    Gold Pesos
4     Argentina, 1600 - 2025  1920.0        1.1025    Gold Pesos
...                      ...     ...           ...           ...
3487  Venezuela, 1600 - 2025  2020.0     309968.00       Bolivar
3488  Venezuela, 1600 - 2025  2021.0    3220480.00       Bolivar
3489  Venezuela, 1600 - 2025  2022.0          6.64       Bolivar
3490  Venezuela, 1600 - 2025  2023.0         28.62       Bolivar
3491  Venezuela, 1600 - 2025  2024.0         38.33       Bolivar

[3492 rows x 4 columns]

In [6]:
exchange_df['country'] = exchange_df['country'].str.split(',',n=1, expand=True)[0]
exchange_df

        country    year exchange_rate currency_name
0     Argentina  1916.0        0.9666    Gold Pesos
1     Argentina  1917.0        0.9986    Gold Pesos
2     Argentina  1918.0        0.9985    Gold Pesos
3     Argentina  1919.0        1.0099    Gold Pesos
4     Argentina  1920.0        1.1025    Gold Pesos
...         ...     ...           ...           ...
3487  Venezuela  2020.0     309968.00       Bolivar
3488  Venezuela  2021.0    3220480.00       Bolivar
3489  Venezuela  2022.0          6.64       Bolivar
3490  Venezuela  2023.0         28.62       Bolivar
3491  Venezuela  2024.0         38.33       Bolivar

[3492 rows x 4 columns]

In [7]:
exchange_df = exchange_df.dropna()

In [8]:
exchange_df['year'] = exchange_df['year'].astype(int)

C:\Users\vkali\AppData\Local\Temp\ipykernel_29164\1247493054.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  exchange_df['year'] = exchange_df['year'].astype(int)

In [9]:
exchange_df

        country  year exchange_rate currency_name
0     Argentina  1916        0.9666    Gold Pesos
1     Argentina  1917        0.9986    Gold Pesos
2     Argentina  1918        0.9985    Gold Pesos
3     Argentina  1919        1.0099    Gold Pesos
4     Argentina  1920        1.1025    Gold Pesos
...         ...   ...           ...           ...
3487  Venezuela  2020     309968.00       Bolivar
3488  Venezuela  2021    3220480.00       Bolivar
3489  Venezuela  2022          6.64       Bolivar
3490  Venezuela  2023         28.62       Bolivar
3491  Venezuela  2024         38.33       Bolivar

[3452 rows x 4 columns]

In [10]:
file_path_new = os.path.join('..', 'data', 'cleaned_exchange_data.csv')
exchange_df.to_csv(file_path_new)