In [44]:
import os
import pandas as pd
import numpy as np

In [45]:
currency_df = pd.read_csv(os.path.join('..', 'data', 'clean_exchange_data.csv'))
currency_df

        country  year  exchange_rate currency_name
0     Argentina  1916   9.666000e-01    Gold Pesos
1     Argentina  1917   9.986000e-01    Gold Pesos
2     Argentina  1918   9.985000e-01    Gold Pesos
3     Argentina  1919   1.009900e+00    Gold Pesos
4     Argentina  1920   1.102500e+00    Gold Pesos
...         ...   ...            ...           ...
3447  Venezuela  2020   3.099680e+05       Bolívar
3448  Venezuela  2021   3.220480e+06       Bolívar
3449  Venezuela  2022   6.640000e+00       Bolívar
3450  Venezuela  2023   2.862000e+01       Bolívar
3451  Venezuela  2024   3.833000e+01       Bolívar

[3452 rows x 4 columns]

In [8]:
country_subset_df = currency_df[currency_df["country"] == "Argentina"]
country_subset_df

       country  year  exchange_rate        currency_name
0    Argentina  1916         0.9666           Gold Pesos
1    Argentina  1917         0.9986           Gold Pesos
2    Argentina  1918         0.9985           Gold Pesos
3    Argentina  1919         1.0099           Gold Pesos
4    Argentina  1920         1.1025           Gold Pesos
..         ...   ...            ...                  ...
98   Argentina  2020        70.5400  New Pesos Argentino
99   Argentina  2021        95.0821  New Pesos Argentino
100  Argentina  2022       130.6100  New Pesos Argentino
101  Argentina  2023       296.2580  New Pesos Argentino
102  Argentina  2024       915.5390  New Pesos Argentino

[103 rows x 4 columns]

In [26]:
currency_df_path =os.path.join('..', 'data', 'clean_exchange_data.csv')

In [27]:
print(currency_df.columns)

Index(['country', 'year', 'exchange_rate', 'currency_name'], dtype='object')

In [28]:
currency_df["currency_name"].unique()

array(['Gold Pesos', 'Pesos Moneda Nacional', 'Pesos',
       'Old Pesos Argentino', 'Australes', '(New) Pesos Argentino',
       'New Pesos Argentino', 'Australian Pound', 'Australian Dollar',
       'Kronen', 'Old Shillings', 'Shillings', 'Francs', 'Belgas',
       'Milreis', 'Old Cruzeiros', '(New) Cruzeiros', 'Cruzados',
       'New Cruzados', '(Again New) Cruzados', 'Cruzeiros Reais', 'Reals',
       'Canadian Dollar', 'Old Peso', 'Escudos', 'Peso',
       "Peso (New People's Currency)", 'Old Yuan', 'New Yuan',
       "(New People's Currency) Yuan", 'Krones', 'Krone', 'Euro',
       'Old Markkaa', '(New) Markkaa', 'Old Francs', 'Mark', 'Reichsmark',
       'Deutsche mark', 'Old Drachmas', 'Drachmas', 'Hong Kong Dollars',
       'Rupee', 'Rupiah', 'Rupiah ', 'Irish Pounds', 'Israeli Pounds',
       'Old Sheqalim', 'New Shequalim', 'Lire', 'Yen', 'Won',
       'Straits Settlements Dollar', 'Malayan Dollar', 'Malaysian Dollar',
       'Ringgit', 'Old Pesos', 'Guilder', 'New Zealand Pounds',
       'New Zealand Dollar', 'Kroner', 'Soles', 'Intis', 'New Soles',
       'Escudo', 'Singapore Dollar', 'South African Pounds', 'Rand',
       'Peseta', 'Kronor', 'Franc', 'Taiwanese Dollar', 'Baht',
       'British Pound', 'British Pounds', 'Bolivars', 'Bolivar'],
      dtype=object)

In [ ]:
for col in currency_df.select_dtypes(include='object'):
    currency_df['currency_name'] = currency_df['currency_name'].str.replace(r'\bBolivars?\b', 'Bolívar', regex=True)

currency_df['currency_name'].unique()

array(['Gold Pesos', 'Pesos Moneda Nacional', 'Pesos',
       'Old Pesos Argentino', 'Australes', '(New) Pesos Argentino',
       'New Pesos Argentino', 'Australian Pound', 'Australian Dollar',
       'Kronen', 'Old Shillings', 'Shillings', 'Francs', 'Belgas',
       'Milreis', 'Old Cruzeiros', '(New) Cruzeiros', 'Cruzados',
       'New Cruzados', '(Again New) Cruzados', 'Cruzeiros Reais', 'Reals',
       'Canadian Dollar', 'Old Peso', 'Escudos', 'Peso',
       "Peso (New People's Currency)", 'Old Yuan', 'New Yuan',
       "(New People's Currency) Yuan", 'Krones', 'Krone', 'Euro',
       'Old Markkaa', '(New) Markkaa', 'Old Francs', 'Mark', 'Reichsmark',
       'Deutsche mark', 'Old Drachmas', 'Drachmas', 'Hong Kong Dollars',
       'Rupee', 'Rupiah', 'Rupiah ', 'Irish Pounds', 'Israeli Pounds',
       'Old Sheqalim', 'New Shequalim', 'Lire', 'Yen', 'Won',
       'Straits Settlements Dollar', 'Malayan Dollar', 'Malaysian Dollar',
       'Ringgit', 'Old Pesos', 'Guilder', 'New Zealand Pounds',
       'New Zealand Dollar', 'Kroner', 'Soles', 'Intis', 'New Soles',
       'Escudo', 'Singapore Dollar', 'South African Pounds', 'Rand',
       'Peseta', 'Kronor', 'Franc', 'Taiwanese Dollar', 'Baht',
       'British Pound', 'British Pounds', 'Bolívar'], dtype=object)

In [30]:
for col in currency_df.select_dtypes(include='object'):
    currency_df['currency_name'] = currency_df['currency_name'].str.replace(r'\bPesos Argentino?\b', 'Pesos Argentinos', regex=True)

currency_df['currency_name'].unique()

array(['Gold Pesos', 'Pesos Moneda Nacional', 'Pesos',
       'Old Pesos Argentinos', 'Australes', '(New) Pesos Argentinos',
       'New Pesos Argentinos', 'Australian Pound', 'Australian Dollar',
       'Kronen', 'Old Shillings', 'Shillings', 'Francs', 'Belgas',
       'Milreis', 'Old Cruzeiros', '(New) Cruzeiros', 'Cruzados',
       'New Cruzados', '(Again New) Cruzados', 'Cruzeiros Reais', 'Reals',
       'Canadian Dollar', 'Old Peso', 'Escudos', 'Peso',
       "Peso (New People's Currency)", 'Old Yuan', 'New Yuan',
       "(New People's Currency) Yuan", 'Krones', 'Krone', 'Euro',
       'Old Markkaa', '(New) Markkaa', 'Old Francs', 'Mark', 'Reichsmark',
       'Deutsche mark', 'Old Drachmas', 'Drachmas', 'Hong Kong Dollars',
       'Rupee', 'Rupiah', 'Rupiah ', 'Irish Pounds', 'Israeli Pounds',
       'Old Sheqalim', 'New Shequalim', 'Lire', 'Yen', 'Won',
       'Straits Settlements Dollar', 'Malayan Dollar', 'Malaysian Dollar',
       'Ringgit', 'Old Pesos', 'Guilder', 'New Zealand Pounds',
       'New Zealand Dollar', 'Kroner', 'Soles', 'Intis', 'New Soles',
       'Escudo', 'Singapore Dollar', 'South African Pounds', 'Rand',
       'Peseta', 'Kronor', 'Franc', 'Taiwanese Dollar', 'Baht',
       'British Pound', 'British Pounds', 'Bolívar'], dtype=object)

In [31]:
for col in currency_df.select_dtypes(include='object'):
    currency_df['currency_name'] = currency_df['currency_name'].str.replace(r'\bMilreis?\b', 'Mil-réis', regex=True)

currency_df['currency_name'].unique()

array(['Gold Pesos', 'Pesos Moneda Nacional', 'Pesos',
       'Old Pesos Argentinos', 'Australes', '(New) Pesos Argentinos',
       'New Pesos Argentinos', 'Australian Pound', 'Australian Dollar',
       'Kronen', 'Old Shillings', 'Shillings', 'Francs', 'Belgas',
       'Mil-réis', 'Old Cruzeiros', '(New) Cruzeiros', 'Cruzados',
       'New Cruzados', '(Again New) Cruzados', 'Cruzeiros Reais', 'Reals',
       'Canadian Dollar', 'Old Peso', 'Escudos', 'Peso',
       "Peso (New People's Currency)", 'Old Yuan', 'New Yuan',
       "(New People's Currency) Yuan", 'Krones', 'Krone', 'Euro',
       'Old Markkaa', '(New) Markkaa', 'Old Francs', 'Mark', 'Reichsmark',
       'Deutsche mark', 'Old Drachmas', 'Drachmas', 'Hong Kong Dollars',
       'Rupee', 'Rupiah', 'Rupiah ', 'Irish Pounds', 'Israeli Pounds',
       'Old Sheqalim', 'New Shequalim', 'Lire', 'Yen', 'Won',
       'Straits Settlements Dollar', 'Malayan Dollar', 'Malaysian Dollar',
       'Ringgit', 'Old Pesos', 'Guilder', 'New Zealand Pounds',
       'New Zealand Dollar', 'Kroner', 'Soles', 'Intis', 'New Soles',
       'Escudo', 'Singapore Dollar', 'South African Pounds', 'Rand',
       'Peseta', 'Kronor', 'Franc', 'Taiwanese Dollar', 'Baht',
       'British Pound', 'British Pounds', 'Bolívar'], dtype=object)

In [32]:
for col in currency_df.select_dtypes(include='object'):
    currency_df['currency_name'] = currency_df['currency_name'].str.replace(r'\bBolivar?\b', 'Bolívars', regex=True)

currency_df['currency_name'].unique()

array(['Gold Pesos', 'Pesos Moneda Nacional', 'Pesos',
       'Old Pesos Argentinos', 'Australes', '(New) Pesos Argentinos',
       'New Pesos Argentinos', 'Australian Pound', 'Australian Dollar',
       'Kronen', 'Old Shillings', 'Shillings', 'Francs', 'Belgas',
       'Mil-réis', 'Old Cruzeiros', '(New) Cruzeiros', 'Cruzados',
       'New Cruzados', '(Again New) Cruzados', 'Cruzeiros Reais', 'Reals',
       'Canadian Dollar', 'Old Peso', 'Escudos', 'Peso',
       "Peso (New People's Currency)", 'Old Yuan', 'New Yuan',
       "(New People's Currency) Yuan", 'Krones', 'Krone', 'Euro',
       'Old Markkaa', '(New) Markkaa', 'Old Francs', 'Mark', 'Reichsmark',
       'Deutsche mark', 'Old Drachmas', 'Drachmas', 'Hong Kong Dollars',
       'Rupee', 'Rupiah', 'Rupiah ', 'Irish Pounds', 'Israeli Pounds',
       'Old Sheqalim', 'New Shequalim', 'Lire', 'Yen', 'Won',
       'Straits Settlements Dollar', 'Malayan Dollar', 'Malaysian Dollar',
       'Ringgit', 'Old Pesos', 'Guilder', 'New Zealand Pounds',
       'New Zealand Dollar', 'Kroner', 'Soles', 'Intis', 'New Soles',
       'Escudo', 'Singapore Dollar', 'South African Pounds', 'Rand',
       'Peseta', 'Kronor', 'Franc', 'Taiwanese Dollar', 'Baht',
       'British Pound', 'British Pounds', 'Bolívar'], dtype=object)

In [33]:
for col in currency_df.select_dtypes(include='object'):
    currency_df['currency_name'] = currency_df['currency_name'].str.replace(r'\bBritish Pound?\b', 'British Pounds', regex=True)

currency_df['currency_name'].unique()

array(['Gold Pesos', 'Pesos Moneda Nacional', 'Pesos',
       'Old Pesos Argentinos', 'Australes', '(New) Pesos Argentinos',
       'New Pesos Argentinos', 'Australian Pound', 'Australian Dollar',
       'Kronen', 'Old Shillings', 'Shillings', 'Francs', 'Belgas',
       'Mil-réis', 'Old Cruzeiros', '(New) Cruzeiros', 'Cruzados',
       'New Cruzados', '(Again New) Cruzados', 'Cruzeiros Reais', 'Reals',
       'Canadian Dollar', 'Old Peso', 'Escudos', 'Peso',
       "Peso (New People's Currency)", 'Old Yuan', 'New Yuan',
       "(New People's Currency) Yuan", 'Krones', 'Krone', 'Euro',
       'Old Markkaa', '(New) Markkaa', 'Old Francs', 'Mark', 'Reichsmark',
       'Deutsche mark', 'Old Drachmas', 'Drachmas', 'Hong Kong Dollars',
       'Rupee', 'Rupiah', 'Rupiah ', 'Irish Pounds', 'Israeli Pounds',
       'Old Sheqalim', 'New Shequalim', 'Lire', 'Yen', 'Won',
       'Straits Settlements Dollar', 'Malayan Dollar', 'Malaysian Dollar',
       'Ringgit', 'Old Pesos', 'Guilder', 'New Zealand Pounds',
       'New Zealand Dollar', 'Kroner', 'Soles', 'Intis', 'New Soles',
       'Escudo', 'Singapore Dollar', 'South African Pounds', 'Rand',
       'Peseta', 'Kronor', 'Franc', 'Taiwanese Dollar', 'Baht',
       'British Pounds', 'Bolívar'], dtype=object)

In [34]:
for col in currency_df.select_dtypes(include='object'):
    currency_df['currency_name'] = currency_df['currency_name'].str.replace(r'\bReals?\b', 'Reais', regex=True)

currency_df['currency_name'].unique()

array(['Gold Pesos', 'Pesos Moneda Nacional', 'Pesos',
       'Old Pesos Argentinos', 'Australes', '(New) Pesos Argentinos',
       'New Pesos Argentinos', 'Australian Pound', 'Australian Dollar',
       'Kronen', 'Old Shillings', 'Shillings', 'Francs', 'Belgas',
       'Mil-réis', 'Old Cruzeiros', '(New) Cruzeiros', 'Cruzados',
       'New Cruzados', '(Again New) Cruzados', 'Cruzeiros Reais', 'Reais',
       'Canadian Dollar', 'Old Peso', 'Escudos', 'Peso',
       "Peso (New People's Currency)", 'Old Yuan', 'New Yuan',
       "(New People's Currency) Yuan", 'Krones', 'Krone', 'Euro',
       'Old Markkaa', '(New) Markkaa', 'Old Francs', 'Mark', 'Reichsmark',
       'Deutsche mark', 'Old Drachmas', 'Drachmas', 'Hong Kong Dollars',
       'Rupee', 'Rupiah', 'Rupiah ', 'Irish Pounds', 'Israeli Pounds',
       'Old Sheqalim', 'New Shequalim', 'Lire', 'Yen', 'Won',
       'Straits Settlements Dollar', 'Malayan Dollar', 'Malaysian Dollar',
       'Ringgit', 'Old Pesos', 'Guilder', 'New Zealand Pounds',
       'New Zealand Dollar', 'Kroner', 'Soles', 'Intis', 'New Soles',
       'Escudo', 'Singapore Dollar', 'South African Pounds', 'Rand',
       'Peseta', 'Kronor', 'Franc', 'Taiwanese Dollar', 'Baht',
       'British Pounds', 'Bolívar'], dtype=object)

In [37]:
currency_df.to_csv(os.path.join('..', 'data', 'clean_exchange_data.csv'), index = False)

In [ ]:
newdf = pd.read_csv(os.path.join('..', 'data', 'clean_exchange_data.csv'))

In [40]:
newdf["currency_name"].unique()

array(['Gold Pesos', 'Pesos Moneda Nacional', 'Pesos',
       'Old Pesos Argentinos', 'Australes', '(New) Pesos Argentinos',
       'New Pesos Argentinos', 'Australian Pound', 'Australian Dollar',
       'Kronen', 'Old Shillings', 'Shillings', 'Francs', 'Belgas',
       'Mil-réis', 'Old Cruzeiros', '(New) Cruzeiros', 'Cruzados',
       'New Cruzados', '(Again New) Cruzados', 'Cruzeiros Reais', 'Reais',
       'Canadian Dollar', 'Old Peso', 'Escudos', 'Peso',
       "Peso (New People's Currency)", 'Old Yuan', 'New Yuan',
       "(New People's Currency) Yuan", 'Krones', 'Krone', 'Euro',
       'Old Markkaa', '(New) Markkaa', 'Old Francs', 'Mark', 'Reichsmark',
       'Deutsche mark', 'Old Drachmas', 'Drachmas', 'Hong Kong Dollars',
       'Rupee', 'Rupiah', 'Rupiah ', 'Irish Pounds', 'Israeli Pounds',
       'Old Sheqalim', 'New Shequalim', 'Lire', 'Yen', 'Won',
       'Straits Settlements Dollar', 'Malayan Dollar', 'Malaysian Dollar',
       'Ringgit', 'Old Pesos', 'Guilder', 'New Zealand Pounds',
       'New Zealand Dollar', 'Kroner', 'Soles', 'Intis', 'New Soles',
       'Escudo', 'Singapore Dollar', 'South African Pounds', 'Rand',
       'Peseta', 'Kronor', 'Franc', 'Taiwanese Dollar', 'Baht',
       'British Pounds', 'Bolívar'], dtype=object)

In [42]:
country_to_currency = (
    currency_df.groupby("country")["currency_name"].unique()
    .apply(list)
    .to_dict()
)

country_to_currency

{'Argentina': ['Gold Pesos',
  'Pesos Moneda Nacional',
  'Pesos',
  'Old Pesos Argentinos',
  'Australes',
  '(New) Pesos Argentinos',
  'New Pesos Argentinos'],
 'Australia': ['Australian Pound', 'Australian Dollar'],
 'Austria': ['Kronen', 'Old Shillings', 'Shillings'],
 'Belgium': ['Francs', 'Belgas'],
 'Brazil': ['Mil-réis',
  'Old Cruzeiros',
  '(New) Cruzeiros',
  'Cruzados',
  'New Cruzados',
  '(Again New) Cruzados',
  'Cruzeiros Reais',
  'Reais'],
 'Canada': ['Canadian Dollar'],
 'Chile': ['Old Peso',
  'Escudos',
  'Pesos',
  'Peso',
  "Peso (New People's Currency)"],
 'China': ['Old Yuan', 'New Yuan', "(New People's Currency) Yuan"],
 'Colombia': ['Peso'],
 'Denmark': ['Krones', 'Krone'],
 'Europe': ['Euro'],
 'Finland': ['Old Markkaa', '(New) Markkaa'],
 'France': ['Old Francs', 'Francs'],
 'Germany': ['Mark', 'Reichsmark', 'Deutsche mark'],
 'Greece': ['Old Drachmas', 'Drachmas'],
 'Hong Kong': ['Hong Kong Dollars'],
 'India': ['Rupee'],
 'Indonesia': ['Rupiah', 'Rupiah '],
 'Ireland': ['Irish Pounds'],
 'Israel': ['Israeli Pounds', 'Old Sheqalim', 'New Shequalim'],
 'Italy': ['Lire'],
 'Japan': ['Yen'],
 'Korea': ['Won'],
 'Malaysia': ['Straits Settlements Dollar',
  'Malayan Dollar',
  'Malaysian Dollar',
  'Ringgit'],
 'Mexico': ['Old Pesos', 'Pesos', 'Peso'],
 'Netherlands': ['Guilder'],
 'New Zealand': ['New Zealand Pounds', 'New Zealand Dollar'],
 'Norway': ['Kroner'],
 'Peru': ['Soles', 'Intis', 'New Soles'],
 'Philippines': ['Peso'],
 'Portugal': ['Escudo'],
 'Singapore': ['Singapore Dollar'],
 'South Africa': ['South African Pounds', 'Rand'],
 'Spain': ['Peseta'],
 'Sri Lanka': ['Rupee'],
 'Sweden': ['Kronor'],
 'Switzerland': ['Franc'],
 'Taiwan': ['Taiwanese Dollar'],
 'Thailand': ['Baht'],
 'United Kingdom': ['British Pounds'],
 'Venezuela': ['Bolívar']}

In [43]:
country_to_currency["Indonesia"]

['Rupiah', 'Rupiah ']

In [46]:
currency_df

        country  year  exchange_rate currency_name
0     Argentina  1916   9.666000e-01    Gold Pesos
1     Argentina  1917   9.986000e-01    Gold Pesos
2     Argentina  1918   9.985000e-01    Gold Pesos
3     Argentina  1919   1.009900e+00    Gold Pesos
4     Argentina  1920   1.102500e+00    Gold Pesos
...         ...   ...            ...           ...
3447  Venezuela  2020   3.099680e+05       Bolívar
3448  Venezuela  2021   3.220480e+06       Bolívar
3449  Venezuela  2022   6.640000e+00       Bolívar
3450  Venezuela  2023   2.862000e+01       Bolívar
3451  Venezuela  2024   3.833000e+01       Bolívar

[3452 rows x 4 columns]

In [47]:
argentina_df=currency_df[currency_df['country']=="Argentina"]
argentina_df

       country  year  exchange_rate         currency_name
0    Argentina  1916         0.9666            Gold Pesos
1    Argentina  1917         0.9986            Gold Pesos
2    Argentina  1918         0.9985            Gold Pesos
3    Argentina  1919         1.0099            Gold Pesos
4    Argentina  1920         1.1025            Gold Pesos
..         ...   ...            ...                   ...
98   Argentina  2020        70.5400  New Pesos Argentinos
99   Argentina  2021        95.0821  New Pesos Argentinos
100  Argentina  2022       130.6100  New Pesos Argentinos
101  Argentina  2023       296.2580  New Pesos Argentinos
102  Argentina  2024       915.5390  New Pesos Argentinos

[103 rows x 4 columns]

In [48]:
argentina_df.to_csv(os.path.join('..', 'data', 'argentina.csv'), index = False)